@model TermProject.Models.DestinationTable
@{
    ViewBag.Title = "Details";
}

<h2 class="page-header">@Model.Name</h2>
<div class="row">
    <img src="@Model.Image" class="img-responsive" height="500" width="500" />
</div>
<div class="row">
    <br />
    <P>@Model.Name is in @Model.Category category. @Model.Description</P>
</div>
<h3>Images and details will come here</h3>